<div class="container">
  <!-- <button (click)="displayTrainings()">Display trainings</button> -->
  <!-- if else-->
  <!-- 1/ if -->
  <!-- <div *ngIf="cart; else emptyCart"> -->

  <div *ngIf="this.cartService.getLocalStorage(); else emptyCart">
    <table class="table table-dark table-striped table-hover">
      <thead>
        <tr>
          <th>NAME</th>
          <th>QUANTITY</th>
          <th>PRICE</th>
          <th>DELETE FROM CART</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of this.cartService.getLocalStorage()">
          <td>{{ c.name }}</td>
          <td>{{ c.quantity }}</td>
          <td>{{ c.price | currency : 'EUR'  }}</td>
          <!-- Using localStorage -->
          <td>
            <a
              (click)="removeTrainingFromLocalStorage(c)"
              class="btn btn-danger btn-block" 
              ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg></a
            >
          </td>
        </tr>
      </tbody>
      <tr class="bg-success">
        <td>Total</td>
        <td></td>
        <td></td>
        <td>{{ this.cartService.getTotalSum()}}</td>
        <td></td>
      </tr>
      <tr class="table-active">
        <td >
          <button (click)="validateCart()" class="btn btn-secondary btn-sm">
            Order
          </button>
        </td>
      </tr>
    </table>
  </div>
  <!-- else -->
  <ng-template #emptyCart>
    <p>The cart list is empty</p>
  </ng-template>
  
  <div *ngIf="this.authService.getUserConnected()">
    <button (click)="clearCart()" class="btn btn-secondary btn-sm">Validate your cart?</button>
  </div>
</div>

