<!-- <div class="container d-flex justify-content-center">
    <div class="col-12 col-md-6">
    <form #f="ngForm" (ngSubmit)="saveNewTraining(f.value)">
      <div class="mb-3 mt-3">
        <label for="name" class="form-label">Name:</label>
        <input type="text" class="form-control" placeholder="Enter name" ngModel name="name" required>
        <div class="valid-feedback">Valid.</div>
      </div>
    
      <div class="mb-3 mt-3">
        <label for="description" class="form-label">Description:</label>
        <input type="text" class="form-control" placeholder="Enter description" ngModel name="description" required>
        <div class="valid-feedback">Valid.</div>
      </div>
    
      <div class="mb-3 mt-3">
        <label for="price" class="form-label">Price:</label>
        <input type="number" class="form-control" placeholder="Enter price" ngModel name="price" required>
        <div class="valid-feedback">Valid.</div>
      </div>
    
      <div class="mb-3 mt-3">
        <label for="quantity" class="form-label">Quantity:</label>
        <input type="number" class="form-control" value="1" ngModel  name="quantity" >
        <div class="valid-feedback">Valid.</div>
      </div>
      
        <button type="submit" [disabled]="!f.valid" class="btn btn-primary">Submit</button>
      </form>
    </div>
    </div> -->
<div class="container d-flex justify-content-center">
  <div
    *ngIf="created"
    class="alert alert-success alert-dismissible fade show"
    role="alert"
  >
    <strong>Success!</strong> Training created
    <a href="/trainings">Return to list</a>
  </div>
</div>
<div class="container d-flex justify-content-center">
  <div class="form-group col-12 col-md-6">
    <form [formGroup]="myFormGroup" (ngSubmit)="saveNewTraining(myFormGroup)">
      <div class="mb-3 mt-3">
        <label for="name" class="form-label">Name:</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter name"
          formControlName="name"
          required
        />
        <div class="valid-feedback">Valid.</div>
      </div>

      <div class="mb-3 mt-3">
        <label for="description" class="form-label">Description:</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter description"
          formControlName="description"
          required
        />
        <div class="valid-feedback">Valid.</div>
      </div>

      <div class="mb-3 mt-3">
        <label for="price" class="form-label">Price:</label>
        <input
          type="number"
          class="form-control"
          placeholder="Enter price"
          formControlName="price"
          required
        />
        <div class="valid-feedback">Valid.</div>
      </div>

      <div class="mb-3 mt-3">
        <label for="quantity" class="form-label">Quantity:</label>
        <input type="number" class="form-control" formControlName="quantity" />
        <div class="valid-feedback">Valid.</div>
      </div>

      <button type="submit" [disabled]="!myFormGroup" class="btn btn-primary">
        Submit
      </button>
    </form>
  </div>
</div>
